<div>
    <h1 class="page-header">About</h1>
    <div>
        <h3>Intent</h3>
        <p>Dash is a small  project, designed to:</p>
        <ul>
            <li>Centralize lab testing results into a unified data set.</li>
            <li>Encounrage collaboration of testing between users.</li>
            <li>Make findings accessible to other stakeholders.</li>
            <li>Encourage exploration of testing results to help find new solutions.</li>
        </ul>

        <h3>Technology</h3>
        <p>
            Dash front-end is built upon <a href="https://angularjs.org/">AngularJS</a>
            and <a href="https://angular-ui.github.io/">AngularUI</a>. Charting is done using Google Charts and D3.
            Realtime updates of data are cordinated using SignalR.
        </p>
        <p>
            The server is built using <a href="https://servicestack.net/">ServiceStack</a>.
            I am currently using <a href="https://github.com/ServiceStack/ServiceStack.OrmLite">ServiceStack.Ormlite</a>
            for back-end persistence, but may change the database layer to something more customized,
            due to personal preference over ORMs in general.
        </p>

        <h3>Api and Logging</h3>
        <p>The restful api can be viewed at <a href="/metadata">/metadata</a>.</p>
        <p>
            Debugging logs can be viewed at <a href="/requestlogs">/requestlogs</a>.
            This will likely be disabled if Dash ever
            gets hosted publicly and/or taken seriously.
        </p>

        <h3>Open Source</h3>
        The project is not open source at this time, although it may be released at some point in the future.
        <!--<p>Dash is an open source project, licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License</a>.</p>
            <p>You can follow or fork this project's progress at <a href="https://github.com/trentdm/Dash">https://github.com/trentdm/Dash</a>.</p>-->
    </div>
</div>