<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li ng-class="{active: isActive('about.index')}"><a href="#/about">About</a></li>
                <li ng-class="{active: isActive('about.form')}"><a href="#/about/form">Form</a></li>
                <li ng-class="{active: isActive('about.sheet')}"><a href="#/about/sheet">Sheet</a></li>
                <li ng-class="{active: isActive('about.data')}"><a href="#/about/data">Data</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
            <ui-view></ui-view>
        </div>
    </div>
</div>
