<div>
    <h1 class="page-header">Data</h1>
    <div>
        <h3>Data Source</h3>
        <p>
            Your contribution to Dash matters!
            Dash is based on user submitted data,
            with each contribution giving us a more accurate
            representation of the lab.
        </p>
        <p>
            If you would like to help,
            checkout the google form at, <a href="http://goo.gl/bPiZqy">http://goo.gl/bPiZqy</a>.
        </p>

        <h3>Dash's Future</h3>
        <p>
            Dash is still a project very early in
            its infancy, your feedback is important in
            helping shape this tool to be as useful as possible.
        </p>
        <p>
            Sorting data by time is a critical function that is
            not yet implemented, but will likely be done soon.
        </p>
        <p>
            Future plans include automating the data collection based on
            machine and AIT logs, but that will take a considerable
            investment of time to make happen.
        </p>

        <h3>Raw Data</h3>
        <p>
            Want to see the source data? Checkout <a href="http://goo.gl/HiXGYG">http://goo.gl/HiXGYG</a>.
            Request view permissions from Trent if you'd like to review.
        </p>
    </div>
</div>