<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active">
                    <a href="">Home</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
            <h1 class="page-header">Current Status</h1>
            <div id="chart" style="min-width: 700px; min-height: 400px"></div>
            
            <div class="row marketing">
                <div class="col-lg-4">
                    <h2>Contribute</h2>
                    <p>Every data point summarized here came from one of our users.
                     Add your own data point for a machine and help make this project a success.</p>
                    <p><a class="btn btn-success" href="#/about/form" role="button">Contribute  &raquo;</a></p>
                </div>
                <div class="col-lg-4">
                    <h2>Machines</h2>
                    <p>
                        Using Dash, you can easily view the status of each machine, based on live data from users!
                    </p>
                    <p><a class="btn btn-primary" href="#/machine" role="button">Let's see it &raquo;</a></p>
                </div>
                <div class="col-lg-4">
                    <h2>About</h2>
                    <p>This site is designed to help summarize the current state of our lab, that is made possible with user contributed data.
                     Want to learn how more about how this site works?</p>
                    <p><a class="btn btn-primary" href="#/about" role="button">Learn more &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
</div>